.feature{
    background-color: #181818;
    color: #fff;
    padding-top:140px ;

    .container{
        max-width: 450px;
        margin: auto;

        &-text{
            text-align: center;
            
            h2{
                font-size: 52px;
                line-height: 62px;
                margin-bottom: 24px;
            }

            p{
                font-size: 20px;
                line-height: 30px;
                margin-bottom: 24px;
            }
        }

        &-image{
            display: flex;
            justify-content: center;
            position: relative;
            height: 380px;

            .img-first{
                height: 325px;
                width: 100%;
            }
            .img-second{
                position: absolute;
                top: 180px;
            
            }
        }

        &-functions{
            max-width: 310px;
            padding:48px 20px 170px 20px ;
            margin: auto;

            &-text-header{
                padding-bottom: 24px;
                display: flex;
                align-items: center;
                max-width:170px ;
                font-weight: 500;
                font-size: 20px;
                line-height: 30px;
                
                img{
                    padding-right: 8px;
                }
            }
            &-text-footer{
                margin-bottom: 24px;
            }
        }
    }
}